<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.ec.tool.dao.InitializationDao">

    <select id="createServiceTable">
        CREATE TABLE IF NOT EXISTS service  (
            service_id varchar(255) NOT NULL,
            service_group varchar(255) NOT NULL,
            service_name varchar(255) NOT NULL UNIQUE,
            alarm_way varchar(255) DEFAULT NULL,
            wechat_app_name varchar(255) DEFAULT NULL,
            description varchar(255) DEFAULT NULL,
            update_time datetime(0) NOT NULL,
            PRIMARY KEY (service_id) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </select>

    <select id="createServiceUrlTable">
        CREATE TABLE IF NOT EXISTS service_url (
            url_id varchar(255) NOT NULL,
            service_id varchar(255) NOT NULL,
            url_content varchar(255) NOT NULL UNIQUE,
            request_type varchar(50) NOT NULL,
            param_content varchar(255) DEFAULT NULL,
            body_content text DEFAULT NULL,
            description varchar(255) DEFAULT NULL,
            update_time datetime(0) NOT NULL,
            PRIMARY KEY (url_id) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </select>

    <select id="createRuleTable">
        CREATE TABLE IF NOT EXISTS rule (
            rule_id varchar(255) NOT NULL,
            url_id varchar(255) NOT NULL,
            formula varchar(255) NOT NULL,
            rule_alias varchar(50) NOT NULL,
            description varchar(255) DEFAULT NULL,
            update_time datetime(0) NOT NULL,
            PRIMARY KEY (rule_id) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </select>

    <select id="createMonitorDataTable">
        CREATE TABLE IF NOT EXISTS monitor_data (
            data_id varchar(255) NOT NULL,
            url_id varchar(255) NOT NULL,
            rule_id varchar(255) NOT NULL,
            data_content text  NOT NULL,
            update_time datetime(0) NOT NULL,
            PRIMARY KEY (data_id) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </select>

</mapper>
