<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.ec.tool.dao.MonitorDataDao">

    <select id="selectDataById" parameterType="java.lang.String" resultType="com.newegg.ec.tool.entity.MonitorData">
        SELECT
          *
        FROM
          monitor_data
        WHERE
          data_id = #{dataId}
    </select>

    <insert id="addMonitorData" parameterType="com.newegg.ec.tool.entity.MonitorData">
        INSERT INTO
            monitor_data
        (
            data_id,
            url_id,
            rule_id,
            data_content,
            update_time
        )
        VALUES (
            #{dataId},
            #{urlId},
            #{ruleId},
            #{dataContent},
            #{updateTime}
        )
    </insert>
</mapper>
