<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.ec.tool.dao.RuleDao">

    <select id="selectRulesByUrlId" parameterType="java.lang.String" resultType="com.newegg.ec.tool.entity.Rule">
        SELECT
          *
        FROM
          rule
        WHERE
          url_id = #{urlId}
    </select>

    <select id="selectRuleById" parameterType="java.lang.String" resultType="com.newegg.ec.tool.entity.Rule">
        SELECT
            *
        FROM
            rule
        WHERE
            rule_id = #{ruleId}
    </select>

    <insert id="addRule" parameterType="com.newegg.ec.tool.entity.Rule">
        INSERT INTO
            rule
        (
            rule_id,
            url_id,
            formula,
            rule_alias,
            update_time
        )
        VALUES (
            #{ruleId},
            #{urlId},
            #{formula},
            #{ruleAlias},
            #{updateTime}
        )
    </insert>

    <update id="updateRule" parameterType="com.newegg.ec.tool.entity.Rule">
        UPDATE
            rule
        SET
            url_id = #{urlId},
            formula = #{formula},
            rule_alias = #{ruleAlias},
            update_time = #{updateTime}
        WHERE
            rule_id = #{ruleId}
    </update>

    <delete id="deleteRuleByRuleId" parameterType="java.lang.String">
        DELETE FROM
            rule
        WHERE
            rule_id = #{ruleId}
    </delete>

    <delete id="deleteRulesByUrlId" parameterType="java.lang.String">
        DELETE FROM
            rule
        WHERE
            url_id = #{urlId}
    </delete>
</mapper>
