<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.ec.tool.dao.ServiceDao">

    <select id="selectServiceById" resultType="com.newegg.ec.tool.entity.ServiceModel" parameterType="java.lang.String">
        SELECT
            *
        FROM
            service
        WHERE
            service_id = #{serviceId}
    </select>

    <select id="selectServiceByName" resultType="com.newegg.ec.tool.entity.ServiceModel" parameterType="java.lang.String">
        SELECT
            *
        FROM
            service
        WHERE
            service_name = #{serviceName}
    </select>

    <select id="selectAllService" resultType="com.newegg.ec.tool.entity.ServiceModel">
        SELECT * FROM service
    </select>

    <insert id="addService" parameterType="com.newegg.ec.tool.entity.ServiceModel">
        INSERT INTO
            service
        (
            service_id,
            service_group,
            service_name,
            wechat_app_name,
            alarm_way,
            description,
            update_time
        )
        VALUES (
            #{serviceId},
            #{serviceGroup},
            #{serviceName},
            #{wechatAppName},
            #{alarmWay},
            #{description},
            #{updateTime}
        )
    </insert>

    <update id="updateService" parameterType="com.newegg.ec.tool.entity.ServiceModel">
        UPDATE
            service
        SET
            service_name = #{serviceName},
            service_group = #{serviceGroup},
            wechat_app_name = #{wechatAppName}
            alarm_way = #{alarmWay},
            description = #{description},
            update_time = #{updateTime}
        WHERE
            service_id = #{serviceId}
    </update>

    <delete id="deleteServiceById" parameterType="java.lang.String">
        DELETE FROM
            service
        WHERE
            service_id = #{serviceId}
    </delete>

</mapper>