<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.ec.tool.dao.ServiceDao">

    <select id="selectServiceById" resultType="Service" parameterType="java.lang.String">
        SELECT
            *
        FROM
            service
        WHERE
            service_id = #{serviceId}
    </select>

    <select id="selectServiceByName" resultType="Service" parameterType="java.lang.String">
        SELECT
            *
        FROM
            service
        WHERE
            service_name = #{serviceName}
    </select>

    <select id="selectAllService" resultType="Service">
        SELECT * FROM service
    </select>

    <insert id="addService" parameterType="Service">
        INSERT INTO
            service
        VALUES (
            service_id = #{serviceId},
            service_name = #{serviceName},
            alarm_route = #{alarmRoute}
            description = #{description}
            update_time = #{updateTime}
        )
    </insert>

    <update id="updateService" parameterType="Service">
        UPDATE
            service
        SET
            service_name = #{serviceName},
            alarm_route = #{alarmRoute},
            description = #{description},
            update_time = #{updateTime}
        WHERE
            service_id = #{serviceId}
    </update>

    <delete id="deleteServiceById" parameterType="java.lang.String">
        DELETE FROM
            service
        WHERE
            service_id = #{serviceId}
    </delete>

</mapper>